.calButton{
    border-radius: 1rem;
    font-size: calc(17px + 0.5vw);
    background-color: rgba($color: #25252567, $alpha: 1.0);
    color: rgba($color: #89eeb6, $alpha: 1.0);
    border: 0px;
    
    &:hover{
        background-color: rgba($color: #89eeb6, $alpha: 0.3);
    }

    &.specialButton{
        color: lightcoral;
        &:hover{        
            background-color: rgba($color: lightcoral, $alpha: 0.4);
        }
    }
}

