.screen-container{
    background-color: whitesmoke;
    width: 90%;
    margin: 4% 3% 1% 3%;
    height: 10%;
    align-self: center;
    border-radius: 20px;
    padding-right: 3%;  
    display: flex;
    justify-content: end; 
    align-items: end;
}
.screen{
    font-size: 3rem;
    text-align: end;    
    font-family: 'Cute Font', cursive;
    margin: 0px;
    // overflow: hidden;
    overflow-wrap: break-word;
    inline-size: 100%;
    

    &.lowerFont{
        font-size: 2rem;
    }

    &.smallFont{
        font-size: 1.6rem;
    }
}



