.calculator-container{
    background-color: rgba($color: #4f4f4f, $alpha: 1.0);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;

    &.landscape{
        width: 550px;
        height: 355px;
    }

    @media (pointer: fine){
        &.landscape{
            height: 370px;
        }
    }
}