.buttonPanel-container{
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.numberButton-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(10px, 1fr));
    gap: 2%;
    width: 65%;

    &.landscapeNumber-container{
        width: 50%;
    }
}

.oprationButton-container{
    margin: 0;
    margin-left: 2%;
    display: grid;
    grid-template-columns: minmax(10px, 1fr);
    gap: 3%;
    width: 25%;
    
    &.landscapeOperation-container{
        
    }
}

.parenthesisButton-container{
    margin: 0;
    display: grid;
    grid-template-columns:repeat(2,minmax(3px,1fr));
    gap:3%;
}
.otherOperations-container{
    margin: 0;
    margin-right: 2%;
    display: grid;
    grid-template-columns: minmax(10px, 1fr);
    gap: 3%;
    width: 15%;
}
