.buttonPanel-container{
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.numberButton-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(10px, 1fr));
    gap: 2%;
    background-color: lightcoral;
    width: 65%;
}

.oprationButton-container{
    background-color: lightgreen;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(10px, 1fr);
    gap: 3%;
    width: 30%;
}

.parenthesisButton-container{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3%;
}